/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: default;
}

a {
    cursor: pointer;
}


/* 清除浮动 */

.container:after {
    display: table;
    content: '';
    clear: both;
}

/* 顶部提示 */

.tips {
    background: #f0f0f0;
    font-family: Microsoft Yahei;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    padding-left: 160px;
    width: 1460px;
}

.tips .content p {
    color: #484848;
    display: inline-block;
}

.tips a {
    color: #319f52;
}

.tips span {
    float: right;
    margin-right: 160px;
    padding-left: 15px;
    background: url('微专业WEB前端开发作业/close.png') 0px 15px no-repeat;
    cursor: pointer;
    color: #484848;
}


/* 头部css设置 */

header {
    width: 1460px;
}


/* 导航条整体设置 */

header nav {
    height: 100px;
}

header nav #logo {
    float: left;
    margin-left: 160px;
    line-height: 100px;
}

header nav #navbar {
    float: right;
}


/* 导航条logo部分设置 */


/* edu */

header nav #logo #green {
    font-family: Gill Sans MT;
    color: #309224;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    width: 75px;
    background: url('微专业WEB前端开发作业/verticalLine.png') 70px no-repeat;
    vertical-align: middle;
}


/* logo */

header nav #logo #normal {
    font-family: Hiragino Sans GB;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}


/* 关注 */

header nav #logo #follow{
    background: #209845;
    color: #fff;
    font-family: SimSun;
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    border-radius: 2px;
    text-align: center;
    margin-left: 30px;
    padding: 0 8px;
    cursor: pointer;
}

header nav #logo #follow a:hover {
    background: #2aab44;
}


/* 已关注，默认不显示 */

header nav #logo #followed {
    display: inline-block;
    font-size: 12px;
    font-family: SimSun;
    background: #f7f7f7;
    line-height: 20px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    padding: 0 8px;
    display: none;
    margin-left: 10px;
}

header nav #logo #followed:hover {
    background: #fff;
}

header nav #logo #followed #cancel {
    color: #9d9d9d;
    padding-left: 5px;
}

header nav #logo #followed #cancel:hover {
    color: #128e23;
    text-decoration: underline;
}


/* 粉丝数 */

header nav #logo #followed i {
    display: inline-block;
    background: #ccc;
    width: 1px;
    height: 10px;
    margin-left: 5px;
    vertical-align: baseline;
}

header nav #logo #follower {
    color: #525252;
    font-size: 12px;
    font-family: SimSun;
    margin-left: 10px;
}


/* navbar部分设置 */


/* ul */

header nav #navbar ul {
    margin-right: 200px;
}

header nav #navbar ul li {
    padding: 0 30px;
    display: inline-block;
    line-height: 100px;
}

header nav #navbar ul li a:hover {
    color: #309324;
    cursor: pointer;
}

header nav #navbar ul li a {
    color: #7d7d7d;
    font-family: Hiragino Sans GB;
    font-size: 16px;
}


/* 搜索 */

header nav #navbar img {
    float: right;
    margin-right: 180px;
    margin-top: 40px;
}


/* 轮播图 */

#carousel{
    position: relative;
    width: 1460px;
    height: 400px;
}

#carousel .m-slider li {
    position: absolute;
    opacity: 0;
    transition: all 2s ease;
}

#carousel .m-slider li img {
    max-width: 100%;
}

#order {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 20px;
}

#order li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    margin: 0 5px;
    cursor: pointer;
}

#order li.selected {
    background: #fff;
}

#carousel .m-slider li.selected {
    display: block;
    opacity: 1;
}


/* 产品内容 */

#info {
    display: flex;
    margin: 70px 100px;
}

#info .product {
    flex: 1;
    margin: 0 40px;
}

#info .product img {
    float: left;
    margin-top: 10px;
}

#info .product .content {
    margin-left: 100px;
    font-family: Microsoft Yahei;
}

#info .product .content h3 {
    font-size: 22px;
    font-weight: normal;
    color: #2f2f2f;
    margin-bottom: 10px;
}

#info .product .content p {
    font-size: 14px;
    color: #818181;
    margin-bottom: 20px;
    line-height: 1.8em;
}

#info .product .content span a {
    color: #52a24a;
    font-size: 14px;
}

#info .product .content span a:hover {
    text-decoration: underline;
}


/* 图库 */

.gallery {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.gallery img{
    flex: 1;
    overflow: hidden;
}
.gallery img+img {
    margin-left: 10px;
}


/* 内容区 */

#mainbody {
    width: 100%;
}
/* 主栏 */
#mainbody main {
    float: left;
    width: 970px;
    margin-left: 100px;
}
/* 侧栏 */
#mainbody aside {
    margin-left: 1100px;
}

/* 主栏具体设置 */
#mainbody main h3 {
    width: 400px;
    height: 50px;
    box-shadow: 1px 1px 1px;
    display: flex;
    text-align: center;
    font-family: Microsoft Yahei;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px;
}

#mainbody main h3 span {
    flex: 1;
    line-height: 50px;
    cursor: pointer;
    color: #535353;
}

#mainbody main h3 span.selected {
    background: #2c941d;
    color: #fff;
}

#mainbody main ul li {
    display: inline-block;
    width: 222px;
    height: 220px;
    border: 1px solid #ccc;
    margin: 0px 20px 20px 0;
    box-shadow: 0px 1px 1px #ccc;
    vertical-align: middle;
    font-size: 12px;
    font-family: Microsoft Yahei;
    cursor: pointer;
}

#mainbody main ul li.special {
    width: 464px;
}

#mainbody main ul li p,
#mainbody main ul li span.p {
    display: none;
}

#mainbody main ul li.special span.p {
    display: inline-block;
}

#mainbody main ul li.special p {
    display: block;
    font-size: 14px;
    background: #f7f7f7;
    width: 100%;
    margin-top: 32px;
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 15px;
    line-height: 30px;
}

#mainbody main ul li img {
    min-width: 220px;
    max-width: 220px;
    max-height: 124px;
}

#mainbody main ul li.special img {
    float: left;
}

#mainbody main ul li .content {
    margin-left: 5px;
}

#mainbody main ul li.special .content {
    margin-left: 240px;
}

#mainbody main ul li h4 {
    color: #3f3f3f;
    font-weight: normal;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#mainbody main ul li.special h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#mainbody main ul li span {
    display: block;
    margin-bottom: 5px;
    color: #bfbfbf;
}

#mainbody main ul li.special span {
    color: #686868;
}

#mainbody main ul li .number {
    padding: 2px 5px 2px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url('微专业WEB前端开发作业/peopleIcon.png') 0px 2px no-repeat;
    display: inline-block;
}

#mainbody main ul li.special .number {
    border: none;
    padding: 2px 5px 2px 15px;
    margin-left: -3px;
}

#mainbody main ul li .price {
    color: #fc310f;
    font-weight: bold;
}

#mainbody main ul li.special .price {
    display: none;
}

/* 分页器 */
#mainbody main ul.pagenav {
    float: right;
    margin-right: 20px;
}

#mainbody main ul.pagenav li {
    display: inline-block;
    height: 20px;
    margin: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    border: none;
    box-shadow: none;
    color: #fff;
    background: #d0d0d0;
    font-size: 16px;
    width: 30px;
}

#mainbody main ul.pagenav li.page:hover {
    color: #8cd3a0;
}

#mainbody main ul.pagenav li.page.selected {
    color: #fff;
    background: #8cd3a0;
}

#mainbody main ul.pagenav li.page {
    width: 20px;
    background: #fff;
    color: #000;
}

#mainbody main ul.pagenav li.active {
    background: #8cd3a0;
    color: #fff;
    width: 30px;
    font-size: 16px;
}

/* 侧栏详细设置 */
#mainbody aside .introduce {
    border: 1px solid #ccc;
    width: 250px;
    box-shadow: 1px 1px 1px #ccc;
}

#mainbody aside .introduce h3,#mainbody aside .hot h3 {
    font-size: 16px;
    font-weight: normal;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

#mainbody aside .introduce .video {
    text-align: center;
    padding: 10px 10px;
}

#mainbody aside .introduce .video p {
    font-size: 14px;
    color: #666;
    padding-bottom: 10px;
}

#mainbody aside .introduce .video img {
    cursor: pointer;
}

/* 侧栏视频 */
.m-video {
    position: relative;
    margin: 0 auto;
    width: 890px;
    height: 616px;
    padding: 30px;
    background-color: #fff;
}

.m-video video {
    margin-top: 22px;
}

.m-video .title {
    font-size: 18px;
    color: #444444;
}

.m-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url('微专业WEB前端开发作业/background.png')
}

.m-video .closed {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 23px;
    height: 22px;
    text-indent: -9999px;
    background: url('微专业WEB前端开发作业/closevideo.png') no-repeat;
    cursor: pointer;
}


/* 侧栏热门 */

#mainbody aside .hot {
    width: 250px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-shadow: 1px 1px 1px #ccc;
}


.hot #hotlist {
    height: 820px;
    overflow: hidden;
    position: relative;
    width: 250px;
}

.hot #hotlist ul{
    position: absolute;
    top: -1600px;
    /* top: 0; */
    left: 0;
}
.hot #hotlist ul li {
    font-family: Microsoft Yahei;
    height: 60px;
    margin: 20px 0;
    width: 250px;
    padding: 0 20px;
}

.hot #hotlist ul li .crop-technique {
    position: relative;
    width: 60px;
    height: 60px;
    float: left;
    overflow: hidden;
}

.hot #hotlist ul li img {
    position: absolute;
    margin: 0;
    min-height: 60px;
    margin-left: -20px;
    cursor: pointer;

}

.hot #hotlist ul li h4 {
    font-weight: normal;
    font-size: 14px;
    color: #373737;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 70px;
    margin-bottom: 5px;
    cursor: pointer;
}
.hot #hotlist ul li span {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
    padding-left: 15px;
    background: url('微专业WEB前端开发作业/peopleIcon.png') 0px 0px no-repeat;
}

/* footer */
footer{
    background: #1c2025;
    margin-top: 200px;
    height: 250px;
    position: relative;
}

footer .u-into{
    position: absolute;
    left: 200px;
    top: 80px;
}
footer .m-foot .u-into .logo{
    height: 50px;
    background: url('微专业WEB前端开发作业/footerlogo.png') 0px 0px no-repeat;
}

footer .m-foot .u-into .txt{
    color: #9b9da1;
    font-size: 12.5px;
    font-family: Microsoft Yahei;
}

footer .u-links{
    display: inline-block;
    vertical-align: top;
    display: flex;
    position: absolute;
    top: 80px;
    left: 700px;
    width: 600px;
}

footer .u-links .links{
    flex: 1;
}
footer .u-links h4{
    color: #9b9da1;
    font-size: 12.5px;
    font-family: Microsoft Yahei;
    font-weight: normal;
}

footer .u-links a{
    color: #9b9da1;
    font-size: 14px; 
    display: block;
    font-family: Microsoft Yahei;
    margin: 10px 0;
}

footer .u-links a:hover{
    text-decoration: underline;
}

/* 遮罩登陆 */
.m-mask .m-login{
    position: relative;
    margin: 200px auto;
    width: 400px;
    height: 300px;
    padding: 20px 40px;
    background-color: #fff;
}

.m-mask .m-login h2{
    font-weight: normal;
    font-family: Microsoft Yahei;
    font-size: 19px;
    margin-bottom: 20px;
}

.m-mask .m-login fieldset{
    border: none;
    font-family: Microsoft Yahei;
}

.m-mask .m-login input{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    outline:none;
}

.m-mask .m-login #loginBtn{
    width: 100%;
    background: #1a882a;
    color: #FFF;
    border: none;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.m-mask .m-login span{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 22px;
    background: url('微专业WEB前端开发作业/closevideo.png') -6px 0px no-repeat;
    cursor: pointer;
}